<header>
  <h1>
    {{pageTitle}}
  </h1>
  <p><a href='/'>Home</a></p>
  <p><a href='/about'>About</a></p>
  <p><a href='/profile'>Profile</a></p>
  <p><a href='/projects'>My Projects</a></p>
  <p><a href='/photos'>My Photos</a></p>
  <p><a href='/bibliography'>Publications</a></p>
  <p><a href='/links'>Links</a></p>
</header>
