<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
      {{> header}}
      <p>Here are some photos of me and my family.</p>
      {{> footer}}
  </body>
</html>
